.course-two-col
  #breadcrumbs.header
    .container
      - if current_access_level.allows?(:manage_users)
        .admin_controls
          = button_away 'Edit Course',
            edit_admin_course_path(@course)
          = button_away 'Edit Assignment',
            edit_admin_course_assignment_path(@course, @assignment)
      = yield(:breadcrumbs)

  .nav
    %ul#sidebar
      %li
        = link_to "Description", 
          course_assignment_path(@course, @assignment, :anchor => "description"),
          :"data-id" => "description"
      %li
        = link_to "Submissions",
          course_assignment_path(@course, @assignment, :anchor => "submissions"),
          :"data-id" => "submissions"
      %li
        = link_to "Student Notes", 
          course_assignment_path(@course, @assignment, :anchor => "notes"),
          :"data-id" => "notes"
      %li
        = link_to "Activity Log", 
          course_assignment_path(@course, @assignment, :anchor => "activity"),
          :"data-id" => "activity"
  
  .main
    #bucket= yield(:bucket)