- content_for :secondary_navigation do
  .anchor= link_to "Courses", courses_path
  = link_to @course.name, course_path(@course)
  &#0187;
  = link_to @assignment.name, assignment_path(@assignment)
  - if @submission
    &bull;
    = link_to @submission.user.name, submission_path(@submission)
  - if current_access_level.allows?(:manage_users)
    &bull;
    = link_to "Edit this assignment", 
      edit_admin_course_assignment_path(@course, @assignment)