- title @assignment.name

- content_for :header_bottom do
  :javascript
    $(function(){
      $('#edit_notes').click(function(){
        $('#note_content').trigger("edit");
      });

      $('#note_content').click(function(e){
        if (e.target.tagName != "A") {
          $('#note_content').trigger("edit");
        }
      });
      
      var editPath = '#{assignment_path(@assignment)}/notes';
    
      $('#note_content').editable(editPath, {
        type:      'textarea',
        height:    '200px',
        width:     '98%',
        indicator: 'Saving ...',
        cancel:    'Cancel',
        submit:    'Save',
        loadurl:   '#{assignment_path(@assignment)}.text',
        tooltip:   'Click to edit...',
        event:     'edit',
        onblur:    'ignore'
      });
      
      SidebarMenu.register('sidebar');
    });

- content_for :breadcrumbs do
  = render :partial => "courses/breadcrumbs"
  %span.separator &rarr;
  = render :partial => "breadcrumbs"
  %span.separator &rarr;
  %span#current_section
  
- content_for :bucket do
  #overview.bucket
    #description= md(@assignment.description)
    
  #notes.bucket
    .controls
      %input.clean-gray.small#edit_notes{:type => "button", :value => "Edit"}
    #note_content= md(@assignment.notes)

  #submissions.bucket
    - @submissions.each do |status, submissions|
      .status
        .box{:style => "background-color: ##{status.hex_color}"}
        = status.name
      - submissions.each do |submission|
        .submission{:class => (current_user == submission.user ? 'current' : nil)}    
          = link_to submission.user.name, submission_path(submission)

  #activity.bucket
    - @activities.each do |activity|
      = render :partial => "courses/activity", 
              :locals => {:activity => activity}
    = will_paginate @activities, :params => {:anchor => "activity"}

= render :partial => "layout"