- title @assignment.name

= render :partial => "menu"

%h1= @assignment.name

.course-two-col
  .main
    .description= md(@assignment.description)
    .notes= md(@assignment.notes)

  .right
    #submissions
      .header Submissions
      - @submissions.each do |status, submissions|
        .status
          .box{:style => "background-color: ##{status.hex_color}"}
          = status.name
        - submissions.each do |submission|
          .submission{:class => (current_user == submission.user ? 'current' : nil)}    
            = link_to submission.user.name, submission_path(submission)