- title @assignment.name

- content_for :header_bottom do
  :javascript
    $(function(){
      $('#edit_notes').click(function(){
        $('#notes').trigger("edit");
      });

      $('#notes').click(function(e){
        if (e.target.tagName != "A") {
          $('#notes').trigger("edit");
        }
      });
      
      var editPath = '#{assignment_path(@assignment)}/notes';
    
      $('#notes').editable(editPath, {
        type:      'textarea',
        height:    '200px',
        width:     '98%',
        indicator: 'Saving ...',
        cancel:    'Cancel',
        submit:    'Save',
        loadurl:   '#{assignment_path(@assignment)}.text',
        tooltip:   'Click to edit...',
        event:     'edit',
        onblur:    'ignore'
      });
      
      SidebarMenu.register('sidebar');
      
      $('tr.submission').click(function(e){
        window.location = $(e.currentTarget).attr('data-url');
      });
    });

- content_for :breadcrumbs do
  = render :partial => "courses/breadcrumbs"
  %span.separator &rarr;
  = render :partial => "breadcrumbs"
  %span.separator &rarr;
  %span#current_section
  
- content_for :bucket do
  #overview.bucket
    #description= md(@assignment.description)
    
    .controls
      %input.clean-gray.small#edit_notes{:type => "button", :value => "Edit"}
    %h2.header Notes
    #notes= md(@assignment.notes)
    
    %h2.header Submissions
    
    %table.submissions
      %tr
        %th Student
        %th Status
      - @submissions.each do |status, submissions|
        - submissions.each do |submission|
          %tr.submission{:class => (current_user == submission.user ? 'current' : nil),
              :"data-url" => submission_path(submission) }
            %td.student
              = image_tag submission.user.gravatar_url(32)
              = submission.user.name
            %td.status
              .box{:style => "background-color: ##{status.hex_color}"}
              = status.name

  #activity.bucket
    - @activities.each do |activity|
      = render :partial => "courses/activity", 
              :locals => {:activity => activity}
    = will_paginate @activities, :params => {:anchor => "activity"}

= render :partial => "layout"