.two-col
  .main
    .profile
      %h1
        = image_tag current_user.gravatar_url(50), :alt => ""
        = current_user.name
      
      #clean-gray.block
        = button_to "Edit your profile", edit_user_path(current_user), :method => :get

  .main  
    - current_user.open_registrations.each do |term|
      = render :partial => "registration", :locals => {:term => term}

  .left
    %h3 IRC Channels

    - current_user.chat_channels.each do |channel|
      = render :partial => "/chat/recent", :locals => {:channel => channel}
  .right
    = render :partial => "exams"

  #majestic_blog.right.blog.last
    %h4= link_to "RMU Blog",
          "http://blog.majesticseacreature.com/tag/rubymendicant",
          :target => "_blank"

    :plain
      <ul><li><a href="http://blog.majesticseacreature.com/possible-revenue-models-for-rmu" target="_blank">Possible Revenue Models for RMU</a></li><li><a href="http://blog.majesticseacreature.com/last-minute-rmu-exam-submissions" target="_blank">Last-Minute RMU Exam Submissions</a></li><li><a href="http://blog.majesticseacreature.com/rmunicorn-11-technology-update-3" target="_blank">RMUnicorn #11: Technology Update #3</a></li><li><a href="http://blog.majesticseacreature.com/rmunicorn-10-self-sustainable-education" target="_blank">RMUnicorn #10: Self Sustainable Education</a></li><li><a href="http://blog.majesticseacreature.com/rmunicorn-9-free-content-in-education" target="_blank">RMUnicorn #9: Free Content in Education</a></li></ul>
  
  / #learning_blog.right.blog.last
  /   %h4= link_to "Education Reimagined Blog",
  /         "http://educationreimagined.com/",
  /         :target => "_blank"
  / 
  /   %ul
  /     %li Loading...

  .main        
    - if current_user.courses.active.student(current_user).any?
      %h3 Current Progress
  
    - current_user.courses.active.student(current_user).each do |course|
      = render :partial => "assignments", :locals => {:course => course}
          
    - current_user.instructed_courses.each do |course|
      = render :partial => "assignments", :locals => {:course => course}
