- #TODO: Add start / end time and Hash URL

%p
  = f.label :name
  = f.text_field :name
  
%p
  = f.label :term_id
  = f.select :term_id, Term.all.map {|t| [t.name, t.id] },
    :include_blank => true
    
%p.submit
  = f.submit
  = link_to 'Cancel', admin_exams_path, :class => "cancel"