%h1.form-header Edit Exam

= form_for @exam, :url => admin_exam_path(@exam), :html => {:class => "bp"} do |f|
  = render :partial => "form", :locals => {:f => f}
  %hr.spacer
  
  %table.admin
    %thead
      %tr
        %th Name
        %th Email
        %th Status
        %th Url
    = f.fields_for :exam_submissions do |e|
      %tr
        %td= link_to e.object.user.name,
          edit_admin_user_path(e.object.user.id)
        %td= e.object.user.email
        %td= e.select :submission_status_id, SubmissionStatus.all.map {|s| [s.name, s.id]}
        %td= link_to e.object.url, e.object.url, :target => "_blank"