%h1= "#{@assignment.name} Review"

%p= @review.description

- if current_user != @review.user
  %p= @review.user.name

%h3 Comments

#comments
  - @review.comments.order('created_at').each do |comment|
    .comment
      .author
        = image_tag comment.user.gravatar_url(24)
        = comment.user.name
      = comment.to_html.html_safe
  - if @review.comments.empty?
    %h4 There are currently no comments!
  
  - unless @review.closed?
    = form_for @review.comments.build, 
      :url => comment_assignment_review_path(@assignment, @review) do |f|

      %p= f.text_area :comment_text
      %p= f.submit "Post comment"

.clear

%hr

- if @review.course.instructors.include?(current_user) && !@review.closed?
  = form_for @review, :url => assignment_review_path(@assignment, @review) do |f|
    = f.submit "Close Review"
    = f.fields_for @review.submission do |s|
      = s.select :submission_status_id,
        SubmissionStatus.order('sort_order').map {|ss| [ss.name, ss.id]}