.comment{:data => { :id => comment.id, 
                    :editable => (comment.user == current_user).inspect }}
  .header
    = user_icon(comment.user)
    = comment.user.name
    .details made a comment
    .controls
      - if current_user == comment.user
        = link_to '', '#', :class => "edit", :title => "Edit"
        = link_to '', comment_path(comment),
          :class   => "remove", :title  => "Delete",
          :method  => :delete,  :remote => true,
          :confirm => "Are you sure you wish to delete this comment?"
      - else
        .on
          = time_ago_in_words comment.created_at
          ago
  .content= md(comment.comment_text)