#navigation.admin
  .logo 
    = image_tag "rmu_small.png"
    RMU
  = link_to "Home", root_path
  = link_to "Users", admin_users_path
  = link_to "Courses", admin_courses_path
  |
  = link_to "Submission Statuses", admin_submission_statuses_path
  = render :partial => "users/user_bar"