- title "Register for #{@term.name} Courses"

%h1= "Register for #{@term.name} Courses"

#registration
  - @term.courses.each do |course|
    .course{:class => (course.full? ? 'full' : '')}
      .name= course.name
      .available_slots
        - if course.full?
          Full
        - else
          = "#{course.available_slots} Openings"
      - unless course.full?
        = button_to "Register", 
          registration_path(@term, :course_id => course.id),
          :confirm => "You have selected to take #{course.name}. Is this correct?"