%h4= link_to "On #{message.recorded_at.strftime('%a, %b %d')}", chat_messages_path(:channel => params[:channel], :since => message.nearby_messages.first.recorded_at, :highlight => params[:search])
%hr
%table.messages
  - message.nearby_messages.each do |context_message|
    %tr.message
      %td.handle= "#{context_message.handle.name}:"
      %td.body{ :class => ('action' if context_message.action?)}
        = message_body(context_message, params[:search].split)
      %td.recorded_at= message_time context_message
