- title params[:channel]

- content_for :header_bottom do
  :javascript
    var lastMessageRecordedAt = '#{@messages.size == 0 ? "" : @messages.last.recorded_at}';
    var lastMessageId         = #{@messages.size == 0 ? 0 : @messages.last.id};
  
    $(document).ready(function(){
      $.scrollTo('#bottom', { axis: 'y' });
      
      setInterval('loadMessages()', 3000);
    });
    
    function loadMessages(){
      $.getJSON('#{chat_messages_path}',
        { channel:  '#{params[:channel]}',
          since:    lastMessageRecordedAt,
          last_id:  lastMessageId,
          topic:    '#{params[:topic]}'
        },
        function(data){
          if(data.length > 0){
            lastMessageRecordedAt = data[data.length - 1].recorded_at;
            lastMessageId         = data[data.length - 1].id;
            
            var scrollToMessage = isScrollBottom();
            
            for(var x = 0; x <= data.length - 1; x++){
              $('table.messages tr:last').after(data[x].html);
            }
            
            if(scrollToMessage == true)
              $.scrollTo('table.messages tr:last', { axis: 'y' });
          }
        }
      );
    }

%h1 IRC Log

- if @more_messages
  %p= link_to "Load all messages", chat_messages_path(:channel => params[:channel], :full_log => true, :topic => params[:topic])

- form_tag chat_messages_path, :method => :get do
  = text_field_tag "search", params[:search]
  = hidden_field_tag "channel", params[:channel]
  = submit_tag "Search"


%table.messages
  - if @messages.size == 0
    = render :partial => "no_results"
  - else
    - @messages.each do |message|
      = render :partial => "display", :locals => {:message => message}


#bottom