- title params[:channel]
- content_for(:body_class) { 'irc' }

- content_for :header_bottom do
  = javascript_include_tag 'uw.logs'
  :javascript
    $(function() {
      UW.Logs.init({
        lastMessageRecordedAt: '#{@messages.last.try(:recorded_at)}',
        lastMessageId:          #{@messages.last.try(:id) || -1},
        url:                   '#{chat_messages_path}',
        channel:               '#{params[:channel]}',
        topic:                 '#{params[:topic]}',
        loadMessagesOnScroll:  #{! params[:full_log]}
      });
    });

- content_for :subnav do
  #subnav
    .channel_name= "#{@channel.name} " + (@topic.present? ? "(#{@topic.name})" : "")

    = form_tag search_chat_messages_path, :class => "bp search", :method => :get do
      = text_field_tag "search", params[:search]
      = hidden_field_tag "channel", params[:channel]
      = submit_tag "Search", :class => "inline"


    .right= link_to "Discussions", chat_discussions_path(params[:channel])
    .clear

%table.messages
  - @messages.each do |message|
    = render :partial => "display", :locals => {:message => message}

#bottom
