- title params[:channel]

- content_for :header_bottom do
  :javascript
    var lastMessageRecordedAt = '#{@messages.last.try(:recorded_at) || ""}';
    var lastMessageId         = #{@messages.last.try(:id) || -1};
  
    $(document).ready(function(){
      $.scrollTo('#bottom', { axis: 'y' });
      
      setTimeout(loadMessages, 3000);
    });
    
    function loadMessages(){
      $.ajax({
        url: '#{chat_messages_path}',
        dataType: 'json',
        data: { channel:  '#{params[:channel]}',
          since:    lastMessageRecordedAt,
          last_id:  lastMessageId,
          topic:    '#{params[:topic]}'
        },
        success: function(data){
          if(data.length > 0){
            lastMessageRecordedAt = data[data.length - 1].recorded_at;
            lastMessageId         = data[data.length - 1].id;
            
            var scrollToMessage = isScrollBottom();
            
            for(var x = 0; x <= data.length - 1; x++){
              $('table.messages tr:last').after(data[x].html);
            }
            
            if(scrollToMessage == true)
              $.scrollTo('table.messages tr:last', { axis: 'y' });
          }
          setTimeout(loadMessages, 3000);
        },
        error: function() {
          var errorMessage = "Error communicating to the server",
            error = $("<div/>", { "class": "flash error", text: errorMessage });
          $("#flash").append(error);
        }
      });
    }

%h1= "IRC Log " + (@topic.present? ? "(#{@topic.name})" : "")

%p
  - if @more_messages
    = link_to "Load all messages", chat_messages_path(:channel => params[:channel], :full_log => true, :topic => params[:topic])
    \|

  = link_to "Discussions", chat_discussions_path(params[:channel])

%table.messages
  - @messages.each do |message|
    = render :partial => "display", :locals => {:message => message}
    
#bottom
