.popup-container
  = image_tag user.gravatar_url(size), :class => "trigger", :alt => ""
  .popup.user
    .name
      - if current_access_level.allows?(:manage_users)
        = link_to user.name, edit_admin_user_path(user)
      - else
        = user.name
    %span.label Twitter:
    = twitter_account_link user.twitter_account_name
    %span.label Github:
    = github_account_link user.github_account_name
    