= link_to  user_path(user) do
  .user
    .icon= image_tag user.gravatar_url(48)
    .name= user.name
    .since
      %span.type
        - if defined? roles
          = roles.map {|cm| cm.access_level.to_s.humanize }.join(', ') + ": "
        - else
          = user_type(user)
      = user_since(user)
    - unless user.time_zone.blank?
      .timezone{ 'data-utc-offset' => ActiveSupport::TimeZone.new(user.time_zone).utc_offset }
        = user.time_zone
        %span.time-display
    .clear