%h1 Please enter a new password

- if error = flash[:alert] 
  %p{:style => "color: red;"}= error 

= form_for(current_user, :url => change_password_user_path(current_user), :html => { :method => :post }) do |f|
  %p
    = f.label(:password, "New Password")
    %br
    = f.password_field :password
  %p
    = f.label(:password_confirmation, "Password Confirmation")
    %br
    = f.password_field :password_confirmation
  = f.submit
