- title 'Edit Personal Information'

%h1.form-header Edit Personal Information

= form_for @user, :html => {:class => 'bp'} do |form|
  = error_messages_for(@user)
  %p
    = form.label :email
    = form.text_field :email

  %p
    = form.label :real_name
    = form.text_field :real_name

  %p
    = form.label :nickname
    = form.text_field :nickname

  %p
    = form.label :github_account_name, "Github"
    = form.text_field :github_account_name

  %p
    = form.label :twitter_account_name, "Twitter"
    = form.text_field :twitter_account_name
    
  %p
    = form.label :project_url
    = form.text_field :project_url
  
  %p
    = form.label :time_zone
    = form.time_zone_select :time_zone, ActiveSupport::TimeZone.all.sort, :include_blank => true, :default => ""
    
  %p
    = form.submit 'Update'