.primary
  = link_to "http://university.rubymendicant.com", :class => "logo" do
    .logo 
      = image_tag "rmu_small.png"
      RMU
  - if current_user
    = link_to "Home", dashboard_path
    = link_to "Courses", courses_path
    = link_to "Documents", documents_path
    = link_to "Directory", users_path
    - if current_access_level.allows?(:manage_users)
      = link_to "Administration", admin_users_path, :class => "admin"
    = render :partial => "users/user_bar"