#nav
  .constrained
    %ul
      %li= link_to "Dashboard", dashboard_path, :class => "first"
      %li#courses
        = link_to "Courses".html_safe + image_tag("down_arrow.png", :class => "drop"), '#'
        #courses_dropdown
          %ul
            - current_user.courses.active.each do |course|
              %li= link_to course.name, course_path(course)
            %li.small= link_to "Archived Courses", courses_path
      %li= link_to "Directory", users_path
      - if current_access_level.allows? :manage_users
        %li= link_to "Administration", admin_users_path
    :javascript
      $(function() { DropdownMenu.register('courses'); } );
    .clear