%table.status{:'data-id' => course.id}
  %tr
    %th= link_to course.name, course_path(course)
    - course.assignments.each do |assignment|
      %th.status= link_to assignment.name, assignment_path(assignment)
  - course.students.each do |student|
    %tr.student{:style => "display:none;"}
      %td= student.name
      - course.assignments.each do |assignment|
        - submission = assignment.submission_for(student)
        %td.status{:style => "background-color: ##{submission.status.hex_color}"}
          - if submission.open_review?
            = button_to "Enter review", 
              review_path(submission.review),
              :method => :get
          - else
            = submission.status.name
  %tr.toggle
    %td{:colspan => course.assignments.count + 1}
      = link_to_function "Show students", 
      %{$('table[data-id=#{course.id}] tr.student').toggle(); $(this).text((/Show/.test($(this).text()) ? 'Hide' : 'Show') + ' students')}