#navigation
  .logo 
    = image_tag "rmu_small.png"
    RMU
  = link_to "Home", root_path
  - # link_to "Directory", users_path
  - if current_access_level.allows?(:manage_users)
    = link_to "Administration", admin_users_path
  = yield(:menu)
  = render :partial => "users/user_bar"