.two-col
  .main
    .profile
      %h1
        = image_tag current_user.gravatar_url(50), :alt => ""
        = current_user.name
      
      #clean-gray.block
        = button_to "Edit your profile", edit_user_path(current_user), :method => :get

  .main  
    - if current_user.assignment_submissions.any?
      %h3 Assignments
  
    - current_user.courses.each do |course|
      = render :partial => "assignments", :locals => {:course => course}
      
    - if current_user.instructed_courses.any?
      %h3 Courses
      
      - current_user.instructed_courses.each do |course|
        = render :partial => "course", :locals => {:course => course}

  .left
    %h3 IRC Channels

    - current_user.chat_channels.each do |channel|
      = render :partial => "/chat/recent", :locals => {:channel => channel}
  .right
    = render :partial => "exams"
  
  .right.blog.last
    %h4= link_to "RMU Blog",
          "http://blog.majesticseacreature.com/tag/rubymendicant",
          :target => "_blank"
   
    %ul
      %li Loading...
  
  - content_for :header_bottom do
    = javascript_include_tag "jquery.jgfeed-min", "blog_feed"
