.two-col
  #main
    .profile
      %h1
        = image_tag current_user.gravatar_url(50)
        = current_user.name
      
      #clean-gray.block
        = button_to "Edit your profile", edit_user_path(current_user), :method => :get

  .left
    %h3 IRC Channels

    - current_user.chat_channels.each do |channel|
      .channel
        .title
          = link_to channel.name, chat_messages_path(:channel => channel.name)
          %span.right= channel.last_message_date
        .clear
        - channel.recent.each do |message|
          .message
            .handle= "#{message.handle.name}:"
            .body= message.body
      
  .right
    %h3 Assignments
  
    - current_user.assignment_submissions.each do |submission|
      .assignment
        = submission.assignment.name
        %span.right= submission.status.name
    
  .left.blog
    %h4= link_to "RMU Blog",
          "http://blog.majesticseacreature.com/tag/rubymendicant",
          :target => "_blank"
    
    %ul
      - @rss_items.each do |item|
        %li= link_to item.title, item.link, :target => "_blank"
    
    
  .right
    %h4 University Web News
    
    %ul
      %li Coming soon ...