.two-col
  .main
    .profile
      %h1
        = image_tag current_user.gravatar_url(50)
        = current_user.name
      
      #clean-gray.block
        = button_to "Edit your profile", edit_user_path(current_user), :method => :get

  .main  
    - if current_user.assignment_submissions.any?
      %h3 Assignments
  
    - current_user.courses.each do |course|
      = render :partial => "assignments", :locals => {:course => course}
      
    - if current_user.instructed_courses.any?
      %h3 Courses
      
      - current_user.instructed_courses.each do |course|
        = render :partial => "course", :locals => {:course => course}

  .left
    %h3 IRC Channels

    - current_user.chat_channels.each do |channel|
      .channel
        .title
          = link_to channel.name, chat_messages_path(:channel => channel.name)
          %span.right= channel.last_message_date
        .clear
        - channel.recent.each do |message|
          .message
            .handle= "#{message.handle.name}:"
            .body= message.body
  .right
    = render :partial => "exams"
    
  -# right.blog.last
  -# 
  -#  %h4= link_to "RMU Blog",
  -#        "http://blog.majesticseacreature.com/tag/rubymendicant",
  -#        :target => "_blank"
  -# 
  -#  %ul
  -#    - @rss_items.each do |item|
  -#      %li= link_to item.title, item.link, :target => "_blank"
