.two-col
  #main
    .profile
      %h1
        = image_tag current_user.gravatar_url(50)
        = current_user.name

  #left
    %h3 IRC Channels

    - current_user.chat_channels.each do |channel|
      .channel
        = link_to channel.name, chat_messages_path(:channel => channel.name)
        .right= "(#{channel.last_message_date})"
      
  #right.assignments
    %h3 Assignments
  
    - current_user.assignment_submissions.each do |submission|
      .assignment
        = submission.assignment.name
        .right= submission.status.name
      