- content_for :header_bottom do
  :javascript
    $(function(){
      UW.Slugger.watch('announcement_title', 'announcement_slug');
    })

= error_messages_for(@announcement)

%p
  = f.label :title
  = f.text_field :title

%p
  = f.label :slug
  = f.text_field :slug

%p
  = f.label :public
  = f.check_box :public

%p
  = f.label :author_id
  = f.select :author_id,
    User.where(:access_level => 'admin').map {|c| [c.name, c.id]}

  = f.text_area :body, 'data-preview' => true
.clear
    
%p.submit
  = f.submit