- content_for :header_bottom do
  :javascript
    $(function(){
      enableTabs();
    })

= error_messages_for(@announcement)

%p
  = f.label :title
  = f.text_field :title  

%p
  = f.label :public
  = f.check_box :public

%p
  = f.label :author_id
  = f.select :author_id, 
    User.where(:access_level => 'admin').map {|c| [c.name, c.id]}
  
%ul.tabs
  %li= link_to "Edit", '#edit'
  %li= link_to "Preview", '#preview'

.tab_container
  #edit.tab_content= f.text_area :body
  #preview.tab_content.description Preview
.clear
    
%p.submit
  = f.submit