%h1.form-header Announcements

%p.prompt
  = link_to "Create Announcement", new_admin_announcement_path

%table.admin
  %thead
    %tr
      %th Title
      %th Public?
      %th Author
      %th
  %tbody
    - @announcements.each do |announcement|
      %tr{:class => cycle('even','odd')}
        %td= link_to announcement.title, edit_admin_announcement_path(announcement)
        %td= announcement.public ? "Yes" : "No"
        %td= announcement.author.name
        %td.action= link_to "Destroy",
          admin_announcement_path(announcement),
          :confirm => "Are you sure you wish to delete this announcement?",
          :method  => 'DELETE',
          :class   => "delete"