.channel
  .title
    = link_to channel.name, chat_messages_path(:channel => channel.name)
    %span.right= channel.last_message_date
  .clear
  - channel.recent.each do |message|
    .message
      .handle= "#{message.handle.name}:"
      .body= message.body