.channel
  .title
    = link_to channel.name, chat_messages_path(:channel => channel.name)
    %span.right= last_message_timestamp_for_channel(channel)
  .clear
  - number_of_messages ||= 2
  - channel.recent(number_of_messages).each do |message|
    .message
      .handle= "#{message.handle.name}:"
      .body{:class => (defined?(full_body) ? 'full' : '')}
        = sanitize(auto_link(message.body, :html => { :target => '_blank' }))
