%p
  = f.label :name
  = f.text_field :name
  
%p
  = f.label :sort_order
  = f.text_field :sort_order
  
%p
  = f.label :hex_color
  = f.text_field :hex_color
  
%p.submit
  = f.submit @submission_status.new_record? ? 'Create' : 'Save'
  = link_to 'Cancel', admin_submission_statuses_path, :class => "cancel"
