.activity
  .type{:class => activity.type.downcase}= activity.type
  
  -  if @assignment.nil?
    .assignment
      = link_to activity.assignment.name, assignment_path(activity.assignment)
  -  if activity.submission
    .submission= activity.submission.user.name
    
  = link_to activity.description, activity_path(activity)
  .by
    by
    = activity.user.name