.activity
  = image_tag activity.user.gravatar_url(24), :alt => ""
  = link_to activity.user.name, user_path(activity.user)
  = activity.description.downcase
  -  if activity.submission
    on
    = "#{activity.submission.user.name}'s"
    = link_to "submission ",
      activity_path(activity)
  -  if @assignment.nil?
    for
    = link_to activity.assignment.name, assignment_path(activity.assignment)
  
  / - unless activity.context.blank?
  .context
    .time
      = time_ago_in_words(activity.created_at)
      ago
    = md(activity.context)
    