.course-two-col

  #breadcrumbs.header
    .container= yield(:breadcrumbs)

  .nav
    %ul#sidebar
      %li
        = link_to "Description", course_path(@course, :anchor => "description"),
          :"data-id" => "description"
      %li
        = link_to "Assignments", course_path(@course, :anchor => "assignments"),
          :"data-id" => "assignments"
      %li
        = link_to "Progress Report", course_path(@course, :anchor => "progress"),
          :"data-id" => "progress"
      %li
        = link_to "Student Notes", course_path(@course, :anchor => "notes"),
          :"data-id" => "notes"
      %li
        = link_to "Activity Log", course_path(@course, :anchor => "activity"),
          :"data-id" => "activity"
      %li
        = link_to "Documents", course_path(@course, :anchor => "documents"),
          :"data-id" => "documents"
      - if @course.channel
        %li
          = link_to "IRC Log", course_path(@course, :anchor => "irc_log"),
            :"data-id" => "irc_log"
      %li
        = link_to "Participants", course_path(@course, :anchor => "participants"),
          :"data-id" => "participants"
  
  .main
    #bucket= yield(:bucket)