.course-two-col

  #breadcrumbs.header
    .container= yield(:breadcrumbs)

  .nav
    %ul#sidebar
      %li
        = link_to "Overview", course_path(@course, :anchor => "overview"),
          :"data-id" => "overview"
      %li
        = link_to "Assignments", course_path(@course, :anchor => "assignments"),
          :"data-id" => "assignments"
      %li
        = link_to "Activity", course_path(@course, :anchor => "activity"),
          :"data-id" => "activity"
      %li
        = link_to "Documents", course_path(@course, :anchor => "documents"),
          :"data-id" => "documents"
      %li
        = link_to "Directory", course_path(@course, :anchor => "directory"),
          :"data-id" => "directory"
  
  .main
    #bucket= yield(:bucket)