- count = @results.values.flatten.count
- if count == 0
  %h1 Found 0 results
- else
  %h1= "Found #{count} results"
  %br

  - unless @results[:course_description].empty?
    %h2 Course's description
    %hr
    = highlighted_snippet(@course.description, @search_key, surround: 100)
    %br

  - unless @results[:notes].empty?
    %h2 Shared Notes
    %hr
    = highlighted_snippet(@course.notes, @search_key)
    %br

  - unless @results[:assignments].empty?
    %h2 Assignments
    %hr
    %ul
      - @results[:assignments].each do |assignment|
        %li
          %b= link_to assignment.name, course_assignment_path(@course, assignment)
          .context= highlighted_snippet(assignment.name, @search_key)
          %br

  - unless @results[:submissions].empty?
    %h2 Submissions
    %hr
    %ul
      - @results[:submissions].each do |submission|
        %li
          - submission_search_result submission
          %br

  - unless @results[:submission_comments].empty?
    %h2 Submission Comments
    %hr
    %ul
      - @results[:submission_comments].each do |comment|
        %li
          - submission_comment_search_result comment
          %br

  - unless @results[:irc_messages].empty?
    %h2 Irc Channel
    %hr
    - results[:irc_messages].each do |message|
      %ul
        %li
          .context= highlighted_snippet(message.body, @search_key)
          %br
