- content_for :secondary_navigation do
  .anchor= link_to "Courses", courses_path
  - if @courses.active.any?
    - @courses.active.each_with_index do |course, i|
      = link_to course.name, course_path(course)
      = "&bull;".html_safe unless i == @courses.active.count - 1

%h1 Courses

#courses
  - if @courses.active.any?
    .label Active
  - @courses.active.each do |course|
    = render :partial => "course", :locals => { :course => course }
  
  - if @instructed.any?
    .label Teaching    
  - @instructed.each do |course|
    = render :partial => "course", :locals => { :course => course }
    
  - if @mentored.any?
    .label Mentoring    
  - @mentored.each do |course|
    = render :partial => "course", :locals => { :course => course }
        
  - if @courses.archived.any?
    .label Archived    
  - @courses.archived.each do |course|
    = render :partial => "course", :locals => { :course   => course,
                                                :archived => true}
  