- content_for :secondary_navigation do
  .anchor= link_to "Courses", courses_path
  - if @courses.active.student(current_user).any?
    - @courses.active.student(current_user).each_with_index do |course, i|
      = link_to course.name, course_path(course)
      = "&bull;".html_safe unless i == @courses.active.student(current_user).count - 1

%h1 Courses

#courses
  - if @courses.active.student(current_user).any?
    .label Active
  - @courses.active.student(current_user).each do |course|
    = render :partial => "course", :locals => { :course => course }
  
  - if @instructed.any?
    .label Teaching    
  - @instructed.each do |course|
    = render :partial => "course", :locals => { :course => course }
        
  - if @courses.archived.student(current_user).any?
    .label Archived    
  - @courses.archived.student(current_user).each do |course|
    = render :partial => "course", :locals => { :course   => course,
                                                :archived => true}
  