- form_tag search_course_path, :method => "get",
  do
  = label_tag :search, "Keyword", 
    :class => "infield"
  = text_field_tag :search, params[:search]
  = submit_tag 'Search'
  

%h1 Matches

- unless @results[:course_description].empty?
  %h3 Course's description
  = @course.description

- unless @results[:notes].empty?
  %h3 Shared Notes               
  = @course.notes

- unless @results[:assignments].empty?
  %h3 Assignments
  %ul
    - @results[:assignments].each do |assignment|
      = link_to assignment.name, course_assignment_path(@course, assignment) 

- unless @results[:submission].empty?
  %h3 Submissions
  - @results[:submission].each do |submission|
    %ul
      %li
        = link_to submission.user.name + "'s submission", course_assignment_submission_path(@course, submission.assignment, submission)

- unless @results[:submission_comments].empty?
  %h3 Submission Comments
  - @results[:submission_comments].each do |submission|
    %ul
      %li
        = link_to submission.user.name + "'s submission", course_assignment_submission_path(@course, submission.assignment, submission)

- unless @results[:irc_messages].empty?
  %h3 Irc Channel
  - results[:irc_messages].each do |message|
    %ul
      %li
        = message.body