- title @course.name
      
- content_for :header_bottom do
  :javascript
    $(function(){
      $('#edit_notes').click(function(){
        $('#notes').trigger("edit");
      });

      $('#notes').click(function(e){
        if (e.target.tagName != "A") {
          $('#notes').trigger("edit");
        }
      });
      
      var editPath = '#{course_path(@course)}/notes';

      $('#notes').editable(editPath, {
        type:      'textarea',
        height:    '200px',
        width:     '98%',
        indicator: 'Saving ...',
        cancel:    'Cancel',
        submit:    'Save',
        loadurl:   '#{course_path(@course)}.text',
        tooltip:   'Click to edit...',
        event:     'edit',
        onblur:    'ignore'
      });
      
      SidebarMenu.register('sidebar');
      
      jQuery("label.infield").inFieldLabels();
    });

- content_for :breadcrumbs do
  = render :partial => "breadcrumbs"
  %span.separator &rarr;
  %span#current_section
  
- content_for :bucket do
  #overview.bucket
    #description= @course.description_html
    
    = render :partial => "dashboard/assignments", 
      :locals => {:course => @course}
    
    .controls
      %input.clean-gray.small#edit_notes{:type => "button", :value => "Edit"}
    %h2.header Notes
    #notes= md(@course.notes)
    
  
  / #assignments.bucket
  /   - @course.assignments.each do |assignment|
  /     .assignment
  /       = link_to assignment.name, course_assignment_path(@course, assignment)

  #documents.bucket
    - @course.documents.each do |document|
      .document
        = link_to document.title, course_document_path(@course, document)

  #activity.bucket
    - @activities.each do |activity|
      = render :partial => "activity", 
              :locals => {:activity => activity}
    = will_paginate @activities, :params => {:anchor => "activity"},
      :param_name => "activity_page"
    
  #directory.bucket
    = form_tag course_path(@course, :anchor => "directory"), :method => :get, 
      :id => "directory_search" do
      = label_tag :search, "Name or Email", 
        :class => "infield"
      = text_field_tag :search, params[:search]
      = submit_tag "Search"
  
    - @users.each do |user|
      = render :partial => '/users/user', :locals => { :user => user, 
        :roles => user.course_memberships.where(:course_id => @course.id)}

    = will_paginate @users, :params => {:anchor => "directory"}, 
      :param_name => "user_page"
    
= render :partial => "layout"