- title @course.name

= render :partial => "menu"
      
- content_for :header_bottom do
  :javascript
    $(function(){
      $('#edit_notes').click(function(){
        $('#notes').trigger("edit");
      });

      $('#notes').click(function(e){
        if (e.target.tagName != "A") {
          $('#notes').trigger("edit");
        }
      });
      
      var editPath = '#{course_path(@course)}/notes';

      $('#notes').editable(editPath, {
        type:      'textarea',
        height:    '200px',
        width:     '98%',
        indicator: 'Saving ...',
        cancel:    'Cancel',
        submit:    'Save',
        loadurl:   '#{course_path(@course)}.text',
        tooltip:   'Click to edit...',
        event:     'edit'
      });
      
      SidebarMenu.register('sidebar');
    });

.course-two-col
  .header
    %h1= @course.name

  #breadcrumbs.header
    = link_to "Courses", courses_path
    %span.separator &rarr;
    = @course.name

  .nav
    %ul#sidebar
      %li
        %a{:href => '#overview'} Overview
      %li
        %a{:href => '#documents'} Documents
      %li
        %a{:href => '#assignments'} Assignments
      %li
        %a{:href => '#activity'} Activity
  
  .main
    #bucket
      #overview.bucket
        #description= @course.description_html
        
        %h2.header
          Notes
          .controls
            %input.clean-gray.small#edit_notes{:type => "button", :value => "Edit"}
        #notes= md(@course.notes)
        
        = render :partial => "dashboard/assignments", 
          :locals => {:course => @course}
      
      #assignments.bucket
        - @course.assignments.each do |assignment|
          = link_to assignment.name, course_assignment_path(@course, assignment)
          %br
    
      #documents.bucket
        - @course.documents.each do |document|
          .document
            = link_to document.title, document_path(document)
  
      #activity.bucket
        - @activities.each do |activity|
          = render :partial => "activity", 
                  :locals => {:activity => activity}
        = will_paginate @activities