- title @course.name

- content_for :secondary_navigation do
  .anchor= link_to "Courses", courses_path
  = link_to @course.name, course_path(@course)
  - if @course.channel
    &bull;
    = link_to "IRC: #{@course.channel.name}",
      chat_messages_path(:channel => @course.channel.name)

%h1= @course.name

= @course.description_html

#assignments
  - @course.assignments.each do |assignment|
    .assignment
      .name= link_to assignment.name, 
                    course_assignment_path(@course, assignment)
      .description= assignment.description
            
- if @course.channel
  = render :partial => "/chat/recent",
          :locals => {:channel            => @course.channel, 
                      :full_body          => true,
                      :number_of_messages => 10 }