- title @course.name

= render :partial => "menu"
      
- content_for :header_bottom do
  :javascript
    $(function(){
      $('#edit_notes').click(function(){
        $('#notes').trigger("edit");
      });

      $('#notes').click(function(e){
        if (e.target.tagName != "A") {
          $('#notes').trigger("edit");
        }
      });
      
      var editPath = '#{course_path(@course)}/notes';

      $('#notes').editable(editPath, {
        type:      'textarea',
        height:    '200px',
        width:     '680px',
        indicator: 'Saving ...',
        cancel:    'Cancel',
        submit:    'Save',
        loadurl:   '#{course_path(@course)}.text',
        tooltip:   'Click to edit...',
        event:     'edit'
      });
    });

.course-two-col
  .header
    %h1= @course.name

  .nav
    %ul
      %li
        %a.selected{:href => '#overview'} Overview
      %li
        %a{:href => '#documents'} Documents
      %li
        %a{:href => '#assignments'} Assignments
      %li
        %a{:href => '#activity'} Activity
  
  .main
    #bucket
      #description= @course.description_html
    
      - if @course.documents.any?
    
        %h2.header Documents
    
        #documents
          - @course.documents.each do |document|
            = link_to document.title, document_path(document)
    
      %h2.header
        Notes
        .controls
          %input.clean-gray.small#edit_notes{:type => "button", :value => "Edit"}
      #notes= md(@course.notes)
    
      = render :partial => "dashboard/assignments", 
        :locals => {:course => @course}

      %h2.header Activity
      #activity
        - @activities.each do |activity|
          = render :partial => "activity", 
                  :locals => {:activity => activity}
        = will_paginate @activities