-content_for :header_bottom do
  = javascript_include_tag "group_mail"


%h1.form-header Send Broadcast Email

= form_for @group_mail, :url => admin_group_mails_path, :html => {:class => 'bp mailer'} do |form|

  = error_messages_for(@group_mail)
  
  %p
    = form.label :group_type, "Type of Group"
    = form.select :group_type, ["All", "Course", "Term"], {:include_blank => " - select - "}

  %p.no-label
    - if !@group.blank?
      = form.select :group_id, @group.map {|group| [group[:caption], group[:value]]}, {:include_blank => "Pick a #{@group_mail.group_type}"}, {:style => "width: 180px"}
    - else
      = form.select :group_id, [], {}, {:disabled => true, :style => "width: 180px"}
  
  %p
    = form.label :recipients, :class => "top"
    = form.text_area :recipients, :rows => 5
     
  %p
    = form.label :subject
    = form.text_field :subject
    
  %p
    = form.label :content, :class => "top"
    = form.text_area :content, :rows => 15

  %p
    = form.label :reply_to, :class => "top"
    = form.text_field :reply_to

  %p.submit
    = form.submit "Send Mail"
    = link_to "Cancel", admin_users_path, :class => "cancel"