= render :partial => "courses/assignments/menu"

%h1 New Review

%p
  For Assignment:
  %b= @assignment.name
  
= form_for @review, :url => reviews_path(@assignment) do |f|
  %p
    Description of submission:
    %br
    = f.text_area :description
    
  %p
    = f.submit "Submit for review"
    = link_to "Cancel", root_path