%p
  = form.label :email
  = form.text_field :email

- if form.object.new_record?
  %p
    %b To manually set the users password enter it below. Otherwise leave the fields blank and a password will be generated and emailed to the user.
%p
  = form.label :password, form.object.new_record? ? nil : "Change password"
  = form.password_field :password

%p
  = form.label :password_confirmation
  = form.password_field :password_confirmation

%p
  = form.label :access_level
  = user_access_level_select(form.object)
  
%hr

%h2 Courses

= form.fields_for :course_memberships do |m|
  %p
    = m.select :course_id, Course.all.map {|c| [c.name, c.id]},
      :include_blank => "Select a course"
    - unless m.object.new_record?
      = m.check_box :_destroy
      = m.label :_destroy, "Remove Course"
    %br
    = m.label :github_project_url, "Github Project:"
    = m.text_field :github_project_url