%p
  = form.label :email
  = form.text_field :email

%p
  = form.label :real_name
  = form.text_field :real_name

%p
  = form.label :nickname
  = form.text_field :nickname

- if form.object.new_record?
  %p
    %b To manually set the users password enter it below. Otherwise leave the fields blank and a password will be generated and emailed to the user.
%p
  = form.label :password, form.object.new_record? ? nil : "Change password"
  = form.password_field :password

%p
  = form.label :password_confirmation
  = form.password_field :password_confirmation

%p
  = form.label :access_level
  = user_access_level_select(form.object)
  
%hr

%p
  = form.label :github_account_name
  %br
  = form.text_field :github_account_name
  
%p
  = form.label :twitter_account_name
  %br
  = form.text_field :twitter_account_name

%p
  = form.label :project_url
  %br
  = form.text_field :project_url

%hr

%p
  = form.label :alumni_number
  %br
  = form.text_field :alumni_number
  
%p
  = form.label :alumni_month
  %br
  = form.text_field :alumni_month

%p
  = form.label :alumni_year
  %br
  = form.text_field :alumni_year

%hr

%h2 Courses

= form.fields_for :course_memberships do |m|
  %p
    = m.select :course_id, Course.all.map {|c| [c.name, c.id]},
      :include_blank => "Select a course"
    - unless m.object.new_record?
      = m.check_box :_destroy
      = m.label :_destroy, "Remove Course"
    
%hr

%h2 Chat Channel Memberships

= form.fields_for :chat_channel_memberships do |m|
  %p
    = m.select :channel_id, Chat::Channel.all.map {|c| [c.name, c.id]},
      :include_blank => "Select a channel"
    - unless m.object.new_record?
      = m.check_box :_destroy
      = m.label :_destroy, "Remove Channel Access"