- content_for :header_bottom do
  :javascript
    $(document).ready(function(){
      jQuery("label.infield").inFieldLabels();
    });

%h1.form-header Users

- form_tag admin_users_path, :class => "bp search", :method => :get do
  %p.clearfix
    = label_tag "search", "Search Users", :class => 'infield'
    = text_field_tag "search", params[:search]
    = submit_tag "Search", :class => "inline"
  %hr

%p.prompt  
  = link_to "Create New User", new_admin_user_path

%table.admin
  %thead
    %tr
      %th Email
      %th Access&nbsp;Level
      %th 
  %tbody
    - @users.each do |user|
      %tr{:class => cycle('even','odd')}
        %td= link_to user.email, edit_admin_user_path(user)
        %td= user.access_level.to_s
        %td.action= link_to("Destroy", admin_user_path(user), :confirm => "Are you sure you wish to delete this user?", :method => 'DELETE', :class => "delete") unless user == current_user
      
%p= will_paginate @users