%p
  %b Login:
  = @user.login


%p
  %b Login count:
  = @user.login_count


%p
  %b Last request at:
  = @user.last_request_at 


%p
  %b Last login at:
  = @user.last_login_at 


%p
  %b Current login at:
  = @user.current_login_at 


%p
  %b Last login ip:
  = @user.last_login_ip 


%p
  %b Current login ip:
  = @user.current_login_ip
  
%p
  %b Disabled:
  = @user.disabled ? 'Yes' : 'No'

%p
  = link_to 'Edit', edit_admin_user_path(@user)
  = link_to 'Back', admin_users_path