- if @submission.current_review && @submission.editable_by?(current_user)
  .current_review
    Currently requesting #{@submission.current_review.to_s} -
    = link_to "##{@submission.current_review.comment.index}",
      "##{@submission.current_review.comment.index}"
    = button_to 'Close Request',
      close_review_course_assignment_submission_path,
      :class   => 'cancel_review'