- if @submission.current_review
  .current_review
    Currently Requesting #{@submission.current_review.to_s} -
    = link_to "##{@submission.current_review.comment.index}" do
      = context_snippet(@submission.current_review.comment.comment_text, 50)
      (##{@submission.current_review.comment.index})
    - if @submission.editable_by?(current_user)
      = button_to 'Close Request',
        close_review_course_assignment_submission_path,
        :class   => 'cancel_review'