#submission_header
  = user_icon(@submission.user, 48)
  - if current_user != @submission.user
    = "#{@submission.user.name}'s Submission"
  - else
    My Submission

- if @submission.editable_by?(current_user)
  #description_controls.controls
    %input.gray#edit_description{:type => "button", :value => "Edit"}
#submission_description.description= md(@submission.description)

- if @submission.editable_by?(current_user)
  #github_controls.controls
    %input.gray#edit_github{:type => "button", :value => "Edit"}

#submission_github.github
  #github_header
    Github repository:
  = github_link(@submission.github_repository)