.activity
  %div{:id => ("github-header" if activity.is_a_github_commit?), :class => "header"}
    = user_icon(activity.user)
    = activity.user.name
    .details
      - unless activity.context.blank?
        = md(activity.context.downcase, :no_p => true)
      - else
        = activity.description
    .on
      = time_ago_in_words activity.created_at
      ago
.content{:style => "display:none;"}= md(activity.context)