.activity
  .header
    = image_tag activity.user.gravatar_url(24)
    = activity.user.name
    .details
      - unless activity.context.blank?
        = md(activity.context.downcase, :no_p => true)
      - else
        = activity.description
    .on
      = time_ago_in_words activity.created_at
      ago
  .content{:style => "display:none;"}= md(activity.context)