= render :partial => "courses/assignments/menu"

- content_for :header_bottom do
  :javascript
    $(document).ready(function(){
      $('.comment a.edit').click(function(e){
        $(e.currentTarget).parents('.comment').children('.content').click();
      });
      
      $('.comment[data-editable=true]').each(function(i,el){
        id = $(el).attr('data-id');
      
        $(el).children(".content").editable('#{comments_path}/' + id, {
          type:      'textarea',
          method:    'PUT',
          indicator: 'Saving ...',
          cancel:    'Cancel',
          submit:    'Save',
          loadurl:   '#{comments_path}/' + id,
          width:     '905px'
        });
      })      
      
    });

%h1
  Submission
  = " (#{@submission.user.name})" if current_user != @submission.user

- # TODO: Add description to submission
.description
  DESCRIPTION
  
%h3 Comments

#comments
  - @submission.comments.order('created_at').each do |comment|
    = render :partial => "/comments/show", :locals => { :comment => comment }
  - if @submission.comments.empty?
    %h4 There are currently no comments!
  
  = form_for @submission.comments.build, 
    :url => comment_course_assignment_submission_path(@course, @assignment, @submission) do |f|

    %p= f.text_area :comment_text
    %p= f.submit "Post comment"

.clear

- if @course.instructors.include?(current_user)
  
  %hr

  = form_for @submission, :url => submission_path(@submission) do |f|
    = f.submit "Update Status"
    = f.select :submission_status_id,
      SubmissionStatus.order('sort_order').map {|ss| [ss.name, ss.id]}
        
  .clear