- title "#{@submission.user.name}'s #{@assignment.name} Submission"

- content_for :header_bottom do
  :javascript
    $(document).ready(function(){
      // Toggle Status / Description update messages
      $('.header').click(function(e){
        $(e.target).siblings('.content').slideToggle();
      });

      UW.Comments.init('#{comments_path}/');

      $("#sidebar li a[data-id=submissions]").addClass('selected');

      UW.Submissions.init('#{submission_path(@submission)}', #{@submission.editable_by?(current_user)});
    });

- content_for :breadcrumbs do
  = render :partial => "courses/breadcrumbs"
  %span.separator &rarr;
  = render :partial => "courses/assignments/breadcrumbs"
  %span.separator &rarr;
  = link_to "Submissions", course_assignment_path(@course, @assignment, :anchor => "submissions")
  %span.separator &rarr;
  = @submission.user.name

- content_for :bucket do
  #submission
    #submission_header
      = user_icon(@submission.user, 48)
      - if current_user != @submission.user
        = "#{@submission.user.name}'s Submission"
      - else
        My Submission

    - if @submission.editable_by?(current_user)
      #description_controls.controls
        %input.gray#edit_description{:type => "button", :value => "Edit"}
    #submission_description.description= md(@submission.description)

    - if @submission.editable_by?(current_user)
      #github_controls.controls
        %input.gray#edit_github{:type => "button", :value => "Edit"}

    #submission_github.github
      #github_header
        Github repository:
      = github_link(@submission.github_repository)

    .comments
      - group_by_description(@submission.activities.order('created_at')).each do |activity, more|
        = render_activity(activity)
        - if more.any?
          %div{:id => "hidden_#{activity.id}", :style => "display: none;"}
            - more.each do |hidden_activity|
              = render_activity(hidden_activity)
          = link_to_function "Display #{more.length} more like this.",
            %{$('#hidden_#{activity.id}').show(); $(this).remove()}

      = form_for @submission.comments.build,
        :url => comment_course_assignment_submission_path(@course, @assignment, @submission) do |f|
        = hidden_field_tag "status"
        #in_reply_to{:style => "display: none"}
          = f.hidden_field :in_reply_to_id
          Replying to
          = link_to "comment #1", "#1"
          = link_to 'X', '#', :class => 'cancel_reply', :title => "Cancel reply"
        = f.text_area    :comment_text, 'data-preview' => true
        .tab_footer
          - if current_user == @submission.user && @submission.status.try(:name) != "Submitted" && @submission.status.try(:name) != "Approved"
            = f.submit "Comment & Request Review"
          - if @course.instructors.include?(current_user)
            = comment_and_update_status
          = f.submit "Comment"
          .clear

    .clear

    - if @course.instructors.include?(current_user)

      = form_for @submission, :url => submission_path(@submission) do |f|
        = f.submit "Update Status"
        = f.select :submission_status_id,
          SubmissionStatus.order('sort_order').map {|ss| [ss.name, ss.id]}

      .clear

= render :partial => "courses/assignments/layout"
