- title "#{@submission.user.name}'s #{@assignment.name} Submission"

= render :partial => "courses/assignments/menu"

- content_for :header_bottom do
  :javascript
    $(document).ready(function(){
      $('.comment a.edit').click(function(e){
        $(e.currentTarget).parents('.comment').children('.content').
        trigger('edit');
        e.preventDefault();
      });
      
      // Toggle Status / Description update messages
      $('.header').click(function(e){
        $(e.target).siblings('.content').slideToggle();
      });
      
      $('.comment .content a').live('click', function(e){
        window.open(e.target.href);
        return false;
      });
      
      $('.comment[data-editable=true]').each(function(i,el){
        id = $(el).attr('data-id');
        
        $(el).children(".content").click(function(e){
          if (e.target.tagName != "A")
            $(e.target).trigger('edit');
        });
      
        $(el).children(".content").editable('#{comments_path}/' + id, {
          type:      'textarea',
          method:    'PUT',
          indicator: 'Saving ...',
          cancel:    'Cancel',
          submit:    'Save',
          loadurl:   '#{comments_path}/' + id,
          width:     '905px',
          event:     'edit'
        });
      });
      
    	$(".tab_content").hide();
    	$("ul.tabs li:first").addClass("active").show();
    	$(".tab_content:first").show();

    	$("ul.tabs li").click(function() {

    		$("ul.tabs li").removeClass("active");
    		$(this).addClass("active");
    		$(".tab_content").hide();

    		var activeTab = $(this).find("a").attr("href");
    		$(activeTab).fadeIn();
    		$.scrollTo('100%', { axis: 'y' });
    		return false;
    	});
    	
    	$('ul.tabs li a[href=#preview]').click(function(){
    	  var converter = new Showdown.converter();
        var html = converter.makeHtml($('#comment_comment_text').val());
        $('#preview').html(html);
    	});
    	
    	$('.description a').live('click', function(e){
        window.open(e.target.href);
        return false;
    	});
      
    });
    
  - if @submission.editable_by?(current_user)
    :javascript
      $(function(){
        var editPath = '#{submission_path(@submission)}/description';
      
        $('.description').click(function(e){
          if (e.target.tagName != "A") 
            $(e.target).trigger('edit');
        });
      
        placeholder = 'Click here to add notes about your project or update its description';
      
        $('.description').editable(editPath, {
          type:        'textarea',
          height:      '200px',
          width:       '917px',
          indicator:   'Saving ...',
          cancel:      'Cancel',
          submit:      'Save',
          loadurl:     '#{submission_path(@submission)}.text',
          tooltip:     placeholder,
          event:       'edit',
          placeholder: placeholder
        });
      })

%h1
  = "#{@submission.user.name}'s " if current_user != @submission.user
  Submission

.description= md(@submission.description)
      
.comments
  - @submission.activities.order('created_at').each do |activity|
    = render_activity(activity)
  
  %ul.tabs
    %li= link_to "Edit", '#edit'
    %li= link_to "Preview", '#preview'
  
  .tab_container
    = form_for @submission.comments.build, 
      :url => comment_course_assignment_submission_path(@course, @assignment, @submission) do |f|
      #edit.tab_content= f.text_area :comment_text
      #preview.tab_content.description
        Preview
      .tab_footer
        - if current_user == @submission.user && @submission.status.name != "Submitted" && @submission.status.name != "Approved"
          = f.submit "Comment & Request Review"
        = f.submit "Comment"

.clear

- if @course.instructors.include?(current_user)
  
  %hr

  = form_for @submission, :url => submission_path(@submission) do |f|
    = f.submit "Update Status"
    = f.select :submission_status_id,
      SubmissionStatus.order('sort_order').map {|ss| [ss.name, ss.id]}
        
  .clear