- content_for :header_bottom do
  :javascript
    $(document).ready(function(){
      $('#user_email').focus();
      jQuery("label.infield").inFieldLabels();
    });

- title 'Sign in'

= image_tag "rmu_seal.png"

%p

/= image_tag "rmu_header.png", :alt => "Ruby Mendicant University", 
/  :class => "rmu-header"

= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'bp'}) do |f|
  %p
    = f.label :email, :class => 'infield'
    = f.text_field :email

  %p
    = f.label :password, :class => 'infield'
    = f.password_field :password

  - if devise_mapping.rememberable?
    %p
      = f.check_box :remember_me
      = f.label :remember_me

  .block= f.submit "Sign in", :class => "slick-black"
  
  .clear