%p
  = form.label :name
  = form.text_field :name

%h2 Instructors

= form.fields_for :course_instructor_associations do |m|
  %p
    = m.select :instructor_id, User.where(:access_level => 'admin').map {|c| [c.name, c.id]},
      :include_blank => "Select an instructor"
    = m.link_to_remove "Remove"
  
%p= form.link_to_add "Add an instructor", :course_instructor_associations
  
%p
  = form.label :channel_id, "Course IRC Channel"
  = form.select :channel_id, Chat::Channel.all.map {|c| [c.name, c.id]},
    :include_blank => "None"

%h2 Instructors

= form.fields_for :course_instructor_associations do |m|
  %p
    = m.select :instructor_id, User.where(:access_level => 'admin').map {|c| [c.name, c.id]},
      :include_blank => "Select an instructor"
    = m.link_to_remove "Remove"

%p= form.link_to_add "Add an instructor", :course_instructor_associations
  
%p
  = form.submit @course.new_record? ? "Create" : "Update"
  = link_to "Cancel", admin_courses_path
  
- unless @course.new_record?
  %hr
  
  %h2 Students
  
  %table.edit
    %tr
      %th Name
      %th Email
      %th Github
      %th Twitter
      %th Individual project url
    - @course.course_memberships.each do |student_membership|
      %tr
        %td= student_membership.student.name
        %td= student_membership.student.email
        %td
          = github_account_link student_membership.student.github_account_name
        %td
          = twitter_account_link student_membership.student.twitter_account_name
        %td= github_project_link student_membership.student.project_url
