%p
  = form.label :name
  = form.text_field :name
%p.no-label
  = form.select :channel_id, Chat::Channel.all.map {|c| [c.name, c.id]},
    :include_blank => "Select a channel"  
  
%p.submit
  = form.submit @course.new_record? ? "Create" : "Update"
  = link_to "Cancel", admin_courses_path, :class => "cancel"
  
- unless @course.new_record?
  %hr
  
  %h2 Students
  
  %table.admin
    %tr
      %th Name
      %th Email
      %th Github
      %th Twitter
      %th Project URL
    - @course.course_memberships.each do |student_membership|
      %tr
        %td= student_membership.student.name
        %td= student_membership.student.email
        %td
          = github_account_link student_membership.student.github_account_name
        %td
          = twitter_account_link student_membership.student.twitter_account_name
        %td= github_project_link student_membership.student.project_url