%p
  = form.label :name
  = form.text_field :name
      
%p
  = form.label :start_date
  = form.text_field :start_date, :class => "datepicker"
  
%p
  = form.label :end_date
  = form.text_field :end_date, :class => "datepicker"
  
%p
  = form.label :class_size_limit
  = form.text_field :class_size_limit
  
%p
  = form.label :archived
  = form.check_box :archived

%p
  = form.label :channel_id, "Course IRC Channel"
  = form.select :channel_id, Chat::Channel.all.map {|c| [c.name, c.id]},
    :include_blank => "None"

%p
  = form.label :term_id
  = form.select :term_id, Term.all.map {|t| [t.name, t.id] },
    :include_blank => true
    
%hr

%h2 Instructors
= form.link_to_add "Add an instructor", :course_instructor_associations

= form.fields_for :course_instructor_associations do |m|
  %p
    = m.label :instructor_id, "Course Instructor"
    = m.select :instructor_id, User.where(:access_level => 'admin').map {|c| [c.name, c.id]},
      :include_blank => "Select an instructor"
    = m.link_to_remove "Remove"


  
%p.submit
  = form.submit @course.new_record? ? "Create" : "Update"
  = link_to "Cancel", admin_courses_path, :class => "cancel"
  
- unless @course.new_record?
  %hr
  
  %h2 Students
  
  = render :partial => "students", :locals => {:students => @course.students}

- content_for :header_bottom do
  :javascript
    $(document).ready(function(){
      $('.datepicker').datepicker({
        dateFormat: 'yy-mm-dd',
        changeMonth: true,
        changeYear: true
      });
    });