#alumni
  - @alumni.each do |alumnus|
    .alumnus
      .name
        = alumnus_name(alumnus)
      
        .badge
          %img{:src => alumnus_image(alumnus)}
      
      .information
        .month
          = Date::MONTHNAMES[alumnus.alumni_month]
          = alumnus.alumni_year
        .social
          - if show_github?(alumnus)
            %a{:href => "http://github.com/#{alumnus.github_account_name}",
              :title => alumnus.github_account_name}
              %img{:src => "/images/icons/social/github.png"}
          - else
            %img{:src => "/images/icons/social/github_disabled.png"}
          - if show_twitter?(alumnus)
            %a{:href => "http://www.twitter.com/#{alumnus.twitter_account_name}",
              :title => alumnus.twitter_account_name}
              %img{:src => "/images/icons/social/twitter.png"}
          - else
            %img{:src => "/images/icons/social/twitter_disabled.png"}
