%p
  Announcement introduction text!

#announcements
  - @announcements.each do |announcement|
    .announcement
      .title
        = announcement.title
        .info
          .author= announcement.author.name
          .posted_date= announcement.created_at.to_date
      .body= md(announcement.body)

  
= will_paginate @announcements