%p
  Bookmark this page and visit it often to keep track of news about Mendicant
  University, including new calls for participation, events with guest speakers,
  or study sessions with our alumni and staff.  You can also keep track of
  what's going on at Mendicant by following the #mendicant hash tag
  on twitter, joining us in the #mendicant IRC room on Freenode, or
  subscribing to the
  = link_to "RSS feed",
    :controller => "public", :action => "changelog", :format => "rss"
  for this page.

#announcements
  - @announcements.each do |announcement|
    .announcement
      .title
        = link_to announcement.title, "/changelog/#{announcement.slug}"
        .info
          .author= announcement.author.name
          .posted_date= announcement.created_at.to_date
      .body= md(announcement.body)


= will_paginate @announcements