%h1 Admissions

%table.admin
  %tr
    %th Applicant
    %th Email
    %th Github
    %th Attachment
    %th Status
  - @submissions.each do |submission|
    %tr
      %td= submission.user.name
      %td= submission.user.email
      %td= github_account_link submission.user.github_account_name
      %td= link_to "Download", 
        attachment_admissions_submission_path(submission.id, 
          "#{submission.user.name.underscore}_#{submission.id}", 
          :format => "zip")
      %td= submission.status.try(:name)