- content_for :header_bottom do
  :javascript
    $(function(){
      jQuery("label.infield").inFieldLabels();
    });

#admissions

  %h1 Application for Admission

  #application
    = form_for @user, :url => admissions_submissions_path,
      :html => {:class => 'bp inline', :multipart => true} do |f|
      = error_messages_for(@user)

      %p
        = f.label :email, :class => "infield"
        = f.text_field :email

      %p
        = f.label :real_name, :class => "infield"
        = f.text_field :real_name

      %p
        = f.label :nickname, :class => "infield"
        = f.text_field :nickname

      %p
        = f.label :password, :class => "infield"
        = f.password_field :password

      %p
        = f.label :password_confirmation, :class => "infield"
        = f.password_field :password_confirmation

      %hr.ruler

      %p
        = f.label :github_account_name, "Github name", :class => "infield"
        = f.text_field :github_account_name

      %p
        = f.label :twitter_account_name, "Twitter name", :class => "infield"
        = f.text_field :twitter_account_name

      %hr.ruler

      = f.fields_for :admissions_submission do |s|
        %p
          %span.label Puzzlenode zip file
          = s.file_field :attachment
  
      %hr.ruler
  
      %p
        = f.submit "Submit Application", :class => "clean"
    
      .clear
  
  #instructions
    %h3 These are the instructions for the zip file