- content_for :header_bottom do
  :javascript
    $(function(){
      UW.Comments.init('#{comments_path}/');
    });

.course-two-col.admissions-two-col

  #breadcrumbs.header
    .container
      = link_to "Admissions", admissions_submissions_path
      %span.separator &rarr;
      = @submission.user.name

  #main
    #submission
      #submission_header
        = button_to 'Download Zip', submission_zip_path(@submission),
                    :method => :get
        = image_tag @submission.user.gravatar_url(48)
        = "#{@submission.user.name}'s Submission"
    
      .comments
        - @submission.comments.order("created_at").each do |comment|
          = render :partial => "/comments/show", 
                                :locals => { :comment => comment }

        = form_for @submission.comments.build,
          :url => comment_admissions_submission_path(@submission) do |f|
          = f.text_area :comment_text, 'data-preview' => true
          .tab_footer
            - if current_access_level.allows? :update_admissions_status
              = select_tag :status_id, options_for_select(@statuses, @submission.status_id)
            = f.submit "Update Submission"
            .clear

      .clear