!!! Strict
%html
  %head
    %title
      = yield(:title).blank? ? controller_name.humanize : yield(:title)
      \- RMU
    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
    = stylesheet_link_tag 'buttons.css'
    = javascript_include_tag 'jquery-1.4.2.js', 'jquery.scrollTo','jquery.infieldlabel.min.js',  'jquery-ui', 'application', 'rails'
    = csrf_meta_tag
    
    = yield(:header_bottom)

  %body
    #container
      = render :partial => "/home/menu"
      #content= yield