!!! Strict
%html
  %head
    %title
      = yield(:title).blank? ? controller_name.humanize : yield(:title)
      \- Mendicant University
    = render :partial => "shared/js_css_header"

    = yield(:header_bottom)

  %body{:class => yield(:body_class)}
    #wrap
      #header_container
        = render :partial => "shared/dev_warning"
        #header
          .centered
            %h1= link_to "Mendicant University", "http://mendicantuniversity.org"

            - if current_user
              = render :partial => "shared/user"

        = render :partial => "shared/nav"
        = yield(:subnav)
        = render :partial => "shared/flash", :locals => {:flash => flash}
      #content= yield
      .clear


