!!! Strict
%html
  %head
    %title
      = yield(:title).blank? ? controller_name.humanize : yield(:title)
      \- Mendicant University
    = render :partial => "shared/js_css_header"

    = yield(:header_bottom)

  %body.session
    #session
      - if error = flash[:alert]
        .header= error
      = yield